In [1]:
import pandas as pd 

df = pd.read_csv("./Womens Clothing E-Commerce Reviews.csv")
df = df.drop(columns = ['Review Text', 'Title'])
df

,Unnamed: 0,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,5,1,4,General,Dresses,Dresses
2,2,1077,60,3,0,0,General,Dresses,Dresses
3,3,1049,50,5,1,0,General Petite,Bottoms,Pants
4,4,847,47,5,1,6,General,Tops,Blouses
...,...,...,...,...,...,...,...,...,...
23481,23481,1104,34,5,1,0,General Petite,Dresses,Dresses
23482,23482,862,48,3,1,0,General Petite,Tops,Knits
23483,23483,1104,31,3,0,1,General Petite,Dresses,Dresses
23484,23484,1084,28,3,1,2,General,Dresses,Dresses
23485,23485,1104,52,5,1,22,General Petite,Dresses,Dresses

In [4]:
# 이상치 - Z-score
import numpy as np

def outliers(data):
    threshold = 3
    mean = np.mean(data)
    std = np.std(data)
    zscore = [(y - mean)/std for y in data]
    return np.where(np.abs(zscore)>threshold)

sub_index = outliers(df['Positive Feedback Count'])[0]
df.loc[sub_index, 'Positive Feedback Count']

53       34
112      24
239      20
320      23
389      20
         ..
23357    30
23427    65
23441    25
23467    23
23485    22
Name: Positive Feedback Count, Length: 430, dtype: int64

In [6]:
main_index = []
for i in df.index:
    if i not in sub_index:
        main_index.append(i)

df = df.loc[main_index]
df = df.reset_index(drop=True)
df

,Unnamed: 0,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,5,1,4,General,Dresses,Dresses
2,2,1077,60,3,0,0,General,Dresses,Dresses
3,3,1049,50,5,1,0,General Petite,Bottoms,Pants
4,4,847,47,5,1,6,General,Tops,Blouses
...,...,...,...,...,...,...,...,...,...
23051,23480,862,35,5,1,0,General Petite,Tops,Knits
23052,23481,1104,34,5,1,0,General Petite,Dresses,Dresses
23053,23482,862,48,3,1,0,General Petite,Tops,Knits
23054,23483,1104,31,3,0,1,General Petite,Dresses,Dresses
23055,23484,1084,28,3,1,2,General,Dresses,Dresses